<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topjohnwu.magisk">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="a.Q"
        android:appComponentFactory="a.z"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon,UnusedAttribute">

        <!-- ConfigV2Activity -->
        <activity
            android:name="f.u7"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <!-- ConfigV2ActivityAlias -->
        <activity-alias
            android:name="xt.R"
            android:targetActivity="f.u7" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- ConfigActivity -->
        <activity
            android:name="d.s" />

        <!-- QQPurifyAgentActivity -->
        <activity
            android:name="lt5.a"
            android:excludeFromRecents="true" />
        <!-- QFileShareToIpadActivity -->
        <activity
            android:name="w.d"
            android:exported="true"
            android:enabled="false" >
            <intent-filter android:label="@string/send_to_ipad">
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter android:label="@string/send_to_ipad">
                <action
                    android:name="android.intent.action.SEND_MULTIPLE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- Receiver -->
        <receiver
            android:name="yy.E"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.UID_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- FileProvider -->
        <provider
            android:name="fxQ.lk"
            android:authorities="${applicationId}.provider"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposeddescription" />
        <meta-data
            android:name="xposedminversion"
            android:value="51" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

    </application>

</manifest>
